<!DOCTYPE html>
<html>
  <head>
    <title>TU CV</title>
  </head>
  <body bgcolor="lightgray">
    <style>
      #principal{
        border: solid 2px black;
        width: 90%;
	      margin: 5 auto;
	      padding: 10px;
	      background:lightskyblue;
	      }
      fieldset{
	      margin: 10px;
	      }
      legend{
        border:solid 2px blue;
        padding: 5px;
        font-weight: bold;
        border-radius: 20px;
        }
      #mifoto{
	      margin: 5px;
      	border: solid 4px black;
        }

    </style>
    <div id="principal">
      <form>
        TU CV
      </form>

      <img src="https://pbs.twimg.com/profile_images/1378646667398770688/truaskW__400x400.jpg" id="mifoto" width="200" align="left">
      <h2> Federico Buena </h2>
      <h2> Vista Carrero </h2>
      <br><br><br><br><br><br>
      
      <fieldset>
        <legend>Perfil:</legend>
        <ul>
        <li>
          Me llamo Federico Buena Vista soy un Joven de 20 años mido 1.78m que cumple sus metas dia a dia, Actualmente vivo solo y me considero una persona responsable, sociable, empatico y alegre tengo 
          conocimientos de <select><option>astrofisica</option><option>biologia mecanica</option><option>programacion</option></select> y servi a la <select><option>marina del Peru</option><option>Armada del Peru</option></select> Actualmente soy independiente
            y vivo en arequipa aunque estuve por muchas partes del mundo tanto en vacaciones como viajes de negocios y manejo 3 idiomas español, ingles y 
            <select><option>portugues</option><option>alemán</option><option>japones</option></select>
        </li> 
        </ul>
      </fieldset>
      <fieldset>
        <legend>Estudios realizados:</legend>
        <li>
          <select>
            <option>Primario y Secundario</option>
            <option>Primario, Secundario y Universitario </option>
            <option>Primario, Secundario, Universitario y ciertas especializaciones</option>
          </select>
        </li>
      </fieldset>
      <fieldset>
        <legend>Experiencia Laboral</legend>
          <li>
              <select>
                <option>Extrabajador de la NASA</option>
                <option>Exprofesor de Harvard</option>
              </select>
          </li> 
          <li>
            Fui Supervisor y selector de ideas para la empresa Bimbo
          </li>
      </fieldset>
      <fieldset>
        <legend>Logros</legend>
          <li>
              <select>
                <option>desarrollo de aplicacion bancaria manteniendo una variante de 4.7 estrellas</option>
                <option>aumento de ingreses en un 68% en el ultimo año</option>
              </select>
          </li> 
          <li>
            Me dejaron la responsabilidad de programador proteccion de Documentos Gubernamentales
          </li>
          <li>
            Descubrir una red de hackers conocida como "Anonymous Corp." 
          </li>
          <li>
            Crear un robot que me permitio conseguir un record mundial
          </li>
          
      </fieldset>
      <fieldset>
        <legend>Habilidades</legend>
          <li>
              <select>
                <option>conocimiento de desarrollo de aplicaciones de seguridad</option>
                <option>conocimiento avanzado en programacion</option>
              </select>
          </li> 
          <li>
            Arreglo de problemas tecnicos en varios tipos de maquina
          </li>
          <li>
            conocimiento en manejo de grandes empresas como co-gerente
          </li>
          
      </fieldset>
      <fieldset>
        <legend>Intereses</legend>
          <li>
            Busco un horario poco variable para poder adaptarme a este con facilidad
          </li> 
          <li>
            La posibilidad de apoyar en proyectos de la empresa ya que me ayuda como una Experiencia adicional
          </li> 
      </fieldset>
      <fieldset>
        <legend>Referencias</legend>
          <li>
            Me conocen como Mark Rober soy mas conocido por mi proyecto de crear un robot.
          </li> 
          <li>
            Tambien pueden buscarme en youtube como (https://www.youtube.com/c/MarkRober)
          </li> 
          <li>
            <button type"button" onclick="window.open('https://www.instagram.com/markrober/')">Instagram</button>
          </li>
      </fieldset>
      
    </div>
    
  </body>
</html>